
#delivery{
  width:200px;
  height:200px;
}


.sidebar{
  padding: 0px;
}

#products-menu-title{
  background-color:red;
  color:white;
}

#products-menu{
  list-style-type: none;
  display: block;
  padding-left: 0%;
}


aside{
  border-right: 1px solid grey;
}